@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.text {
  font-size: 12px;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.container {
  border-radius: 10px 10px;
  background-color: #ffffff;
  max-width: 550px;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  padding-left: 30px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 8%), 0 8px 14px rgb(0 0 0 / 10%);
}

.hero-container {
  height: 440px;
}

.hero-container-image {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 232px;
}

.hero-container-info {
  padding-left: 36px;
}

.hero-container-desc {
  font-size: 16px;
  width: 318px;
}

.cards-list {
  padding: 20px;
  display: flex;
  overflow: scroll;
  gap: 20px;
}

.card-container {
  position: relative;
}

.card-container-status {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card-container-img {
  height: 232px;
}

.card-container-rating {
  display: flex;
}

.card-container-desc {
  display: flex;
}

.card-container-rating-star {
  height: 14px;
}
